@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700&display=swap');

body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cs-w{
  width: 35% !important;
}

.cs-btn{
  position: absolute;
  bottom: 5%;
  right: 5%;

  background-color: transparent !important;
  color: white !important;
  border: solid 2px white !important;
}

.cs-btn:hover{
  background-color: white !important;
  color: hsl(214, 47%, 23%) !important;
}

.cs-btn-def{
  width: 175px !important;
  height: 175px !important;
  background-color: white !important;
  transition: .3s !important;
}

.cs-btn-def.disabled, .cs-btn-def:disabled {
  opacity: 1 !important;
}

.cs-btn-paper{
  border: 20px solid hsl(230, 89%, 62%) !important;
}

.cs-btn-paper:hover{
  border: 20px solid white !important;
  background-color: hsl(230, 89%, 62%) !important;
}

.cs-btn-scissors{
  border: 20px solid hsl(39, 89%, 49%) !important;
}

.cs-btn-scissors:hover{
  border: 20px solid white !important;
  background-color: hsl(39, 89%, 49%) !important;
}

.cs-btn-rock{
  border: 20px solid hsl(349, 71%, 52%) !important;
}

.cs-btn-rock:hover{
  border: 20px solid white !important;
  background-color: hsl(349, 71%, 52%) !important;
}

.cs-btn-2{
  background-color: white !important;
  color: hsl(214, 47%, 23%) !important;
  border: none !important;
  letter-spacing: 5px;
  font-size: 3vh !important;
  font-weight: 700 !important;
}

.cs-btn-2:hover{
  color: hsl(349, 71%, 52%) !important;
}

.cs-page{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cs-win{
  position: relative;
  transition: 1s;
}

.cs-win::before{
  position: absolute;
  content: '';
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.15) 25%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.05) 75%, rgba(255,255,255,0) 100%);
  border-radius: 50%;
  animation: scaleUp 2s forwards;
}

.cs-fc {
  color: hsl(229, 64%, 46%) !important;
}

.cs-fc-2 {
  color: hsl(217, 16%, 45%) !important;
}

@keyframes zoomOut {
  from {
      transform: scale(1);
      opacity: 1;
  }
  to {
      transform: scale(0.3);
      opacity: 0;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}

.zoom-out-animation {
  animation: zoomOut 0.5s forwards; /* Adjust the duration as needed */
}